.mobile-title {
    margin-top: 3em;
    text-align: center;
    font-size: 2.5em;
    color: white;
}

.mobile-content {
    margin-top: -2em;
    padding: 2em;
}

.mobile-content h2 {
    font-size: 1.1em;
    font-weight: normal;
    color: #c3c3c6;
}

.mobile-content a {
    color: #0064ff;
}

.mobile-white {
    font-weight: bold;
    color: white;
}

.mobile-menu-img {
    height: 1em;
    width: auto;
}
