#sidebar {
    display: none;
}

.sidebar {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: #a9a9a9;
    transition: 0.3s;
    padding-top: 60px;
}

.sidebar a {
    display: block;
    margin-top: -0.5em;
    padding: 1em;
    text-decoration: none;
    font-size: 1.5em;
    color: black;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #f1f1f1;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 4em;
    width: 100vw;
}

.openbtn {
    top: 0;
    left: 0;
    cursor: pointer;
    position: fixed;
    margin: 0.5em;
    padding: 10px 15px;
    height: 2.5em;
    width: auto;
    border: none;
}

.mobile-logo {
    margin-top: 1em;
    margin-left: 3em;
    height: 2.5em;
    width: auto;
}

.sidebar-content {
    display: none;
}

.close-img {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 50px;
    width: auto;
    margin-left: 50px;
    color: grey;
}

.sidebar-logo {
    margin-left: -0.3em;
    margin-bottom: -1em;
    height: 1.5em;
    width: auto;
    padding-bottom: 0.5em;
    border-bottom: 1px gray solid;
}

.bottom-border {
    margin: 15px;
    border-bottom: 2px grey solid;
    color: white;
    font-size: 25px;
}

.sidebar-info {
    text-align: left;
    margin-left: 10px;
    color: white;
    font-size: 18px;
}

.apply {
    display: inline-block;
    background-color: #ffffff;
    color: #333333;
    height: 3em;
    width: 8em;
    margin: 0;
    margin-left: -0.4em;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid #333333;
    text-decoration: none;
    font-size: 25px;
    transition: background-color 0.3s, color 0.3s;
}

.apply:hover {
    background-color: #333333;
    color: #ffffff;
}

@media (max-width: 1120px) {
    #sidebar {
        display: block;
    }
}
