html,
body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    height: 100vh;
    overflow-x: hidden;
    background-color: #333;
    color: #ccc;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    position: relative;
}

.header,
.main,
.footer {
    width: 100%;
}

.banner {
    height: 20em;
    width: auto;
    display: block;
    margin-top: -2em;
}

.qr-container {
    text-align: center;
    position: relative;
    max-width: 20em;
    height: auto;
    margin: auto;
    margin-top: -15em;
    padding: 20px;
    background-color: #444;
    border-radius: 10px;
}

.title {
    color: #0064ff;
}

.text-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #555;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-bottom: 10px;
}

#result {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 1em;
}

.download-button {
    background-color: #0064ff;
    color: white;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: blue;
    }
}

.footer {
    margin-top: 0em;
}

div {
    margin: 10px 0;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #aaa;
}

input {
    padding: 8px;
    font-size: 16px;
    width: 300px;
}

p {
    text-align: center;
    font-size: 25px;
    color: grey;
}

@media (max-width: 1000px) {
    .banner {
        height: 10em;
        width: auto;
    }

    .qr-container {
        max-width: 15em;
    }

    p {
        font-size: 15px;
    }
}
