html,
body {
    margin: 0;
    padding: 0;
    font-family: "__Inter_aaf875", "__Inter_Fallback_aaf875";
    background-color: black;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.blank {
    margin-top: 1000px;
}

.header {
    height: 100vh;
    width: 100%;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    filter: brightness(0.4);
}

.text-container {
    position: absolute;
}

.title {
    font-size: 3.75em;
    color: white;
    margin: 0.5em;
}

.mobile-title {
    margin-top: -0.5em;
    font-size: 2.25em;
    color: white;
}

.sub-title {
    margin-bottom: -1em;
    font-size: 1.75em;
    color: #ccc;
}

.mobile-sub-title {
    font-size: 1.5em;
    color: #ccc;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
}

.arrow {
    width: 5em;
    margin-top: 40em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: MoveUpDown 2s linear infinite;
    position: relative;
}

.mobile-arrow {
    width: 5em;
    margin-top: 35em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: MoveUpDown 2s linear infinite;
    position: relative;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 2em;
    }
}

.join {
    display: inline-block;
    background-color: #ffffff;
    color: #333333;
    height: 3em;
    width: 10em;
    margin-top: 3em;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid #333333;
    text-decoration: none;
    font-size: 25px;
    transition: background-color 0.3s, color 0.3s;
}

.join:hover {
    background-color: #333333;
    color: #ffffff;
}

.introduce {
    text-align: center;
    margin-top: 5em;
    font-size: 4em;
    color: white;
}

.intro-text {
    margin-top: -1.5em;
}

.mobile-intro-text {
    margin-top: -1.5em;
    font-size: 1.25em;
}

.mobile-project-text {
    font-size: 1.25em;
}

.blue {
    color: #0064ff;
}

.container {
    display: flex;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    height: 4em;
    width: 9em;
    gap: 30px;
    background-color: #1c1c1c;
    box-shadow: 0px 2px 4px rbga(0, 0, 0, 0, 3);
    border-radius: 16px;
    margin: 10px;
    padding: 24px;
}

.card-container2 {
    display: flex;
    flex-direction: column;
    height: 3em;
    width: 7em;
    gap: 30px;
    background-color: #1c1c1c;
    box-shadow: 0px 2px 4px rbga(0, 0, 0, 0, 3);
    border-radius: 16px;
    margin: 10px;
    padding: 24px;
}

.profile {
    height: 7em;
    width: 15em;
}

.no-deco {
    text-decoration: none;
}

.card-img {
    height: 50px;
    width: 50px;
}

.card-title {
    font-size: 30px;
    color: white;
}

.card-text {
    margin-top: 0.5em;
    text-align: left;
    font-size: 20px;
    color: grey;
}

.card-footer {
    font-size: 17px;
    color: white;
}

.column-center {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.spec {
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.explain {
    text-align: left;
    margin-left: 30%;
    margin-bottom: 3em;
}

.portfolio {
    height: 50px;
    width: 50px;
    margin-left: 30%;
    padding-right: 20px;
}

.white {
    color: white;
}

p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: grey;
}

.center {
    margin-top: 10em;
    text-align: center;
}

.banner {
    height: 15em;
    width: auto;
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

.mobile-banner {
    height: 10em;
    width: auto;
    display: block;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

#home,
#about,
#curriculum,
#project,
#profile,
#promotion {
    overflow-x: hidden;
    overflow-y: hidden;
}
