 h1 {
    color:red;
    text-align: center;
    font-size: 80px;
    opacity: 0;
    animation: fadeup 1s forwards;
 }

li {
    font-size: 30px;
    opacity: 0;
    animation: fadeup 1s 0.3s forwards;
}
.container {
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: fadeup 1s 0.3s forwards;
}

.card-container {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 240px;
    background-color: #1c1c1c;
    border-radius: 16px;
    margin: 10px;
    padding: 24px;
    text-decoration: none;
}
.card-head {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-img {
    height: 50px;
    width: 50px;
}
.card-title {
    margin-left: 5px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.card-text {
margin: 10px;
font-size: 20px;
color:white;
}
.home {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header-img {
    object-fit: cover;
    filter: brightness(40%);
}
.sub-title {
    text-align: center;
    font-size: 1.75em;
    color: #a0a0a0;
    text-shadow: 2px 2px black;
    opacity: 0;
    animation: fadeUp 1s 0.3s forwards
}
.header-container {
    position: absolute;
}

@keyframes fadeup {
    0% {
    transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 800px) {
    .header-img {
        height: 80vh;
    }

    .title {
        font-size: 3em;
    }

    .sub-title {
        font-size: 1.25em;
    }

    .card-container {
        height: 80px;
        width: 200px;
    }

    .card-title {
        font-size: 25px;
    }

    .card-text {
        font-size: 17px;
    }
    }
