 h1 {
    color:red;
    text-align: center;
    font-size: 80px;
    opacity: 0;
    animation: fadeup 1s forwards;
 }

li {
    font-size: 30px;
    opacity: 0;
    animation: fadeup 1s 0.3s forwards;
}
.container {
    display: flex;
    justify-content: center;
    opacity: 0;
    animation: fadeup 1s 0.3s forwards;
}

.card-container {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 240px;
    background-color: #1c1c1c;
    border-radius: 16px;
    margin: 10px;
    padding: 24px;
    text-decoration: none;
}
.card-head {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.card-img {
    height: 50px;
    width: 50px;
}
.card-title {
    margin-left: 5px;
    font-size: 30px;
    font-weight: bold;
    color: white;
}
.card-text {
margin: 10px;
font-size: 20px;
color:white;
}
@keyframes fadeup {
    0% {
    transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}