#home {
    height: 300vh;
    position: relative;
}

.header {
    height: 100vh;
    width: 100%;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-img {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    filter: brightness(0.4);
    position: fixed;
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%; /* Center the text vertically within the header */
    transform: translateY(-50%);
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    margin-top: -2em;
    bottom: 0;
    width: 100%;
}

.arrow {
    width: 5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: MoveUpDown 2s linear infinite;
    position: relative;
}

.blank {
    margin-top: 1000px;
}

.title {
    font-size: 3.75em;
    color: white;
    margin: 0.5em;
}

.sub-title {
    margin-bottom: -1em;
    font-size: 1.75em;
    color: #ccc;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 2em;
    }
}
