.mobile-introduce {
    margin: 0.75em;
    font-size: 1.75em;
    color: white;
}

.mobile-blank {
    margin-top: 2.5em;
}

.mobile-intro-text {
    margin-top: -1em;
    margin-left: 1.25em;
    text-align: left;
    font-size: 0.9em;
    font-weight: bold;
    color: #a0a0a0;
}

.mobile-white {
    color: white;
}

.mobile-container {
    display: flex;
    justify-content: center;
}

.mobile-container a {
    text-decoration: none;
}

.mobile-card-container {
    display: flex;
    flex-direction: column;
    height: 3em;
    width: 9em;
    gap: 30px;
    border: 2px solid gray;
    border-radius: 16px;
    margin: 10px;
    padding: 24px;
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.mobile-card-container2 {
    display: flex;
    flex-direction: column;
    height: 2em;
    width: 6em;
    gap: 30px;
    border: 2px solid gray;
    border-radius: 16px;
    margin: 10px;
    padding: 24px;
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.mobile-card-img {
    height: 40px;
    width: 40px;
}

.mobile-card-title {
    marign-right: -1em;
    font-size: 0.6em;
    font-weight: bold;
    color: white;
}

.mobile-card-text {
    margin-top: 0.4em;
    text-align: left;
    font-size: 0.4em;
    line-height: 1.4;
    font-weight: bold;
    color: #a0a0a0;
}

.mobile-card-footer {
    font-size: 17px;
    color: white;
}

.mobile-column-center {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
