#home {
    height: 150vh;
    position: relative;
}

.mobile-header {
    height: 100vh;
    width: 100%;
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.mobile-header-img {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    filter: brightness(0.4);
    position: fixed;
}

.mobile-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    marin-top: -5em;
}

.mobile-text-container h1 {
    opacity: 0;
    animation: fadeUp 1s forwards;
}

.mobile-text-container h2 {
    opacity: 0;
    animation: fadeUp 1s 0.3s forwards;
}

.mobile-blank {
    margin-top: 1000px;
}

.mobile-title {
    font-size: 3.75em;
    color: white;
    margin: 0.5em;
}

.mobile-sub-title {
    margin-bottom: -1em;
    font-size: 1.75em;
    color: #ccc;
}

.mobile-img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
}

.mobile-arrow {
    width: 5em;
    margin-top: 40em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: MoveUpDown 2s linear infinite;
    position: relative;
    opacity: 0;
    animation: fadeUp 1s 0.6s forwards;
}

@keyframes fadeUp {
    0% {
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 2em;
    }
}
