.blank2 {
    margin: 1em;
}

.mobile-center {
    margin-top: 10em;
    text-align: center;
}

.mobile-center h1 {
    font-size: 2.5em;
    color: white;
}

.mobile-center h2 {
    margin-top: -1em;
    font-size: 1.25em;
    line-height: 1.4;
    color: #a0a0a0;
}

.mobile-join,
.mobile-join *,
.mobile-join :after,
.mobile-join :before,
.mobile-join:after,
.mobile-join:before {
    border: 0 solid;
    box-sizing: border-box;
}

.mobile-join {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: button;
    background-color: #000;
    background-image: none;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: 900;
    height: 4.5em;
    width: 17em;
    margin: 0;
    -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
    padding: 0;
    text-transform: uppercase;
}

.mobile-join:disabled {
    cursor: default;
}

.mobile-join:-moz-focusring {
    outline: auto;
}

.mobile-join [hidden] {
    display: none;
}

.mobile-join {
    border-radius: 99rem;
    border-width: 2px;
    overflow: hidden;
    margin-top: 1em;
    margin-bottom: 7.5em;
    padding: 0.8rem 3rem;
    position: relative;
    white-space: nowrap;
}

.sidebar-mobile-join {
    margin-left: -0.5em;
    padding: 0;
    height: 3.5em;
    width: 10em;
}

.mobile-join span {
    mix-blend-mode: difference;
    font-size: 1.5em;
    margin-left: -0.5em;
}

.mobile-join:after,
.mobile-join:before {
    background: linear-gradient(
        90deg,
        #fff 25%,
        transparent 0,
        transparent 50%,
        #fff 0,
        #fff 75%,
        transparent 0
    );
    content: "";
    inset: 0;
    position: absolute;
    transform: translateY(var(--progress, 100%));
    transition: transform 0.2s ease;
}

.mobile-join:after {
    --progress: -100%;
    background: linear-gradient(
        90deg,
        transparent 0,
        transparent 25%,
        #fff 0,
        #fff 50%,
        transparent 0,
        transparent 75%,
        #fff 0
    );
    z-index: -1;
}

.mobile-join:hover:after,
.mobile-join:hover:before {
    --progress: 0;
}

.mobile-banner {
    margin-top: -5em;
    height: 12.5em;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
