#sidebar {
    display: none;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #1b1b1f, #242429, #2e2e34, #383841);
    background-size: 400% 400%;
    animation: calmGradientAnimation 20s ease-in-out infinite;
    overflow-x: hidden;
    transition: width 0.4s ease, box-shadow 0.4s ease;
    padding-top: 60px;
    box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.6);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.sidebar.open {
    width: 250px;
    box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.6);
}

@keyframes calmGradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.sidebar-content {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: block;
}

.sidebar.open .sidebar-content {
    opacity: 1;
}

.sidebar a {
    display: block;
    padding: 1em 1.5em;
    font-size: 1.2em;
    color: #f1f1f1;
    text-decoration: none;
    transition: background 0.3s ease, color 0.3s ease;
}

.sidebar a:hover {
    background-color: #444444;
    color: #ffffff;
}

.row-align {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin-top: -5.5em;
    margin-left: 1em;
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 1em;
    z-index: 3;
    padding: 0.5em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu-container2 {
    z-index: 3;
    padding: 0.5em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu-container:hover {
    background-color: #f1f1f1;
    transform: scale(1.1);
}

.openbtn {
    height: 2em;
    width: 2em;
    border: none;
    cursor: pointer;
}

.close-img {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 50px;
    width: auto;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.close-img:hover {
    transform: rotate(90deg);
}

.sidebar-logo {
    margin-left: -0.3em;
    margin-bottom: -1em;
    height: 1.5em;
    width: auto;
    padding-bottom: 0.5em;
    border-bottom: 1px gray solid;
}

.mobile-logo {
    height: 2.5em;
    width: auto;
    margin-left: 0.5em;
}

.apply {
    display: inline-block;
    background-color: #ffffff;
    color: #333333;
    height: 3em;
    width: 8em;
    margin: 1em 0;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid #333333;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.apply:hover {
    background-color: #333333;
    color: #ffffff;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay.open {
    display: block;
    opacity: 1;
}

@media (max-width: 1120px) {
    #sidebar {
        display: block;
    }
}
