nextjs-portal {
    display: none;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: "__Inter_aaf875", "__Inter_Fallback_aaf875";
    background-color: #141414;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.title {
    margin-top: 2em;
    text-align: center;
    font-size: 5em;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.card-container {
    flex-direction: column;
    height: 8.5em;
    width: 35em;
    background-color: #191d27;
    border-radius: 16px;
    margin: 10px;
    padding: 24px;
}

.card-container div {
    display: flex;
    align-items: center;
}

.card-container img {
    margin-left: 1em;
    margin-right: 1em;
    height: 3em;
    width: auto;
}

.card-container span {
    font-size: 2.5em;
    font-weight: bold;
    color: white;
}

.card-container h4 {
    font-size: 1.5em;
    font-weight: normal;
    color: white;
}

.red-bg {
    background-color: #451b1a;
}

.list {
    text-decoration: none;
}
