body {
    margin: 0;
    font-family: "Verdana";
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
}

.home {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-conainer {
    position: absolute;
    text-align: center;
}

#clock {
    font-size: 90px;
    margin-top: 180px;
    margin-bottom: 0;
}

#greeting {
    margin-top: 0;
}

#temp {
    font-size: 50px;
    font-weight: bold;
}

#quote-container {
    margin-top: 100px;
}